.infos {
    position:absolute;
    right:0;
    top:50px;
    z-index:9999;
}

.infos .authors {
    float:left;
    margin-top:15px;
}

.infos img {
    float:right;
}

.deck-container h2 {
    min-height:65px;
}
